# WebStorm specific stuff
.idea/

# Slack specific stuff
.slack/

# Build directory
dist/

# Dependency directories
node_modules/

db/
pgdata/

# Docker
.dockerignore
Dockerfile

# Git
.git/
.gitignore

# dotenv environment variable files
.env.local
.env.development.local
.env.test.local
.env.production.local

.editorconfig
eslint.config.mjs
LICENSE
manifest.json
README.md
