# yaml-language-server: $schema=https://raw.githubusercontent.com/compose-spec/compose-spec/master/schema/compose-spec.json

configs:
  initdb:
    file: "./db/init.sql"
name: "word-game"
networks:
  default:
    external: true
    name: "word-game_default"
secrets:
  app:
    file: "/mnt/efs/word-game/secrets/.env.app"
  migration:
    file: "/mnt/efs/word-game/secrets/.env.migration"
services:
  app:
    build:
      args:
        NODE_ENV: "${NODE_ENV:?error}"
      target: "deploy"
    depends_on:
      - "db"
    extends:
      file: "docker-compose.yml"
      service: "app"
    profiles:
      - "main"
  db:
    extends:
      file: "docker-compose.yml"
      service: "db"
    profiles:
      - "main"
  migration:
    environment:
      NODE_ENV:
    build:
      args:
        NODE_ENV: "${NODE_ENV:?error}"
      cache_from:
        - "registry:5000/word-game_app:latest"
      target: "build"
    command: "migrate:${NODE_ENV:?error}"
    entrypoint: "pnpm run"
    image: "registry:5000/word-game_migration:latest"
    init: true
    profiles:
      - "migration"
    secrets:
      - source: "migration"
        target: "/home/node/build/.env.local"
volumes:
  db-18:
    external: true
    name: "word-game_db-18"
